.section-title {
  font-weight: bold;
}

.sub-title {
  font-weight: bold;
}

.settings-section {
  margin-top: 30px;
}

.flag-icon {
  width: 25px;
  height: 25px;
  margin-right: 9px;
  border-radius: 4px;
  object-fit: cover;
}

.avatar-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.upload-button {
  margin-left: 50px;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

.textarea {
  width: 100%;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
